body{
  
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: 0px;
  top: 2px;
  background: url("components/images/background.png");
  }
  .Container{
    
width: fit-content;
height: fit-content;

background: #172746;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }
  .Content{
    display: flex;
    flex-direction: row;
background: #172746;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }